lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.err

pids
logs
results

npm-debug.log
jobs.log
node_modules
public/components/*

.sass-cache
app/.sass-cache


.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

coverage-out/*
public/js/main.js
public/css/style.css

*.orig

coverage-out/*
config/runtime.json
dest
.vscode
client/dist
typings/*
typings.json


.wercker/
.envrc
worker.env

# Builds
dist
index.js
index.js.map

release
AstroGif-darwin-x64
