.container {
  background-image: linear-gradient(#f1f4fa, #d4def1);
  color: #252525;
  left: 10px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 15px;
}

.close polygon {
  fill: #080808;
}

.title {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.optionContainer {
  margin-top: 20px;
}

.subTitle {
  color: #10abeb;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.shortcut input {
  border: 1px solid #d4def1;
  height: 30px;
  font-size: 14px;
  padding: 0 15px 0 5px;
  width: 100%;
}

.shortcut:focus, .shortcut:active {
  border-color: #10abeb;
  outline: none;
}

.version {
  font-size: 10px;
  text-align: right;
}
