.container {
  margin-bottom: 10px;
  position: relative;
  width: 300px;
}

.active {
  border-bottom-color: #23cdfd;
  border-left-color: #2afd9c;
  border-top-color: #fef168;
  border-right-color: #9840fb;
}

.video {
  cursor: pointer;
  width: 300px;
}
