* {
  box-sizing: border-box;
  font-family: 'Open Sans','Helvetica Neue',helvetica,sans-serif;
  font-weight: 100;
}

body {
  background-image: linear-gradient(130deg, #1c133e, #24426e);
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 10px;
}

strong {
  font-weight: bold;
}

h1 {
  color: #10abeb;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #85b4dd;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.primaryIconColor {
  fill: #fff;
}

.secondaryIconColor {
  fill: #85b4dd;
}
